@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ededed;
  --secondary: #304fff;

  --primary-accent: #ededed;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #ededed;
  --secondary: #304fff;

  --primary-accent: #ededed;
  --foreground-accent: #a3a3a3;
  --hero-background: #171717;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .border-text {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type>div {
  @apply mb-10;
}
